body {
	font-family: 'Droid Sans', arial;
	color: white;
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

a {
	color: white;
}

a:hover {
	color: DeepPink;
}

#headshot1 {
	border: 3px solid Crimson;
	/*border-radius: 9999999px;*/
	float: left;
	height: 250px;
	/*max-width: 100%;*/
	/*max-height: 100%;*/
}

#headshot2 {
	border: 3px solid Crimson;
	/*border-radius: 9999999px;*/
	float: right;
	height: 250px;
	/*max-width: 100%;*/
	/*max-height: 100%;*/
}

#headshot1_blog {
	border: 3px solid Crimson;
	/*border-radius: 9999999px;*/
	float: left;
	height: 150px;
	/*max-width: 100%;*/
	/*max-height: 100%;*/
}

#headshot2_blog {
	border: 3px solid Crimson;
	/*border-radius: 9999999px;*/
	float: right;
	height: 150px;
	/*max-width: 100%;*/
	/*max-height: 100%;*/
}

#individual {
	border: 2px solid Crimson;
	/*border-radius: 9999999px;*/
	height: 250px;
	max-width: 100%;
	max-height: 100%;
}

#logo {
	height: 225px;
	max-width: 100%;
	max-height: 100%;
}

#logo_font {
	/*font-family: 'Fredoka One', cursive;*/
	font-family: 'Orbitron', sans-serif;
}

.thumbnails img {
	height: 80px;
	border: 2px solid LightCoral;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 2px solid Crimson;
	cursor:pointer;
}

.preview img {
	border: 4px solid LightCoral;
	padding: 1px;
	height: 475px;
}

p, li {
	line-height: 24px;
}

table {
	width: 50%;
	margin: 5px auto;
	padding: 5px;
}

h5 {
	font-weight: bold;
}

.jumbotron {
	color: Crimson;
	background-color: DimGray;
	background-image: url('jumbotron_background.jpg');
	/*background-color: LightSlateGray;*/
	/*height: 300px;*/
	margin: 10px auto;
  	padding: 10px;
  	font-family: 'Special Elite', sans-serif;
}

.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th {
  background-color: LightCoral;
}

.list-group {
	color: black;
}

#jumbotext {
	font-family: 'Dancing Script', sans-serif;
}

#wrapper {
  width: 960px;
  margin: 10px auto;
  padding: 10px;
}
